In [1]:
#All the important Libraries
import pandas as pd

In [2]:
df = pd.read_csv('price-range-of-hdb-flats-offered.csv')

In [3]:
df.head()

,financial_year,town,room_type,min_selling_price,max_selling_price,min_selling_price_less_ahg_shg,max_selling_price_less_ahg_shg
0,2008,Punggol,2-room,82000,107000,0,0
1,2008,Punggol,3-room,135000,211000,0,0
2,2008,Punggol,4-room,223000,327000,0,0
3,2008,Punggol,5-room,305000,428000,0,0
4,2008,Jurong West,3-room,142000,160000,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277 entries, 0 to 276
Data columns (total 7 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   financial_year                  277 non-null    int64
 1   town                            277 non-null    object
 2   room_type                       277 non-null    object
 3   min_selling_price               277 non-null    int64
 4   max_selling_price               277 non-null    int64
 5   min_selling_price_less_ahg_shg  277 non-null    int64
 6   max_selling_price_less_ahg_shg  277 non-null    int64
dtypes: int64(5), object(2)
memory usage: 15.3+ KB